/* Styles for ToolNavBar */

.search-navbar-dp {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
  border-radius: 5px;
  cursor: pointer;
}

.api-search-input {
  width: 250px;
  margin-right: 10px;
}

.searchNav {
  background-color: #111827;
  padding-block: 12px;
  padding-inline-start: 20px;
  padding-inline-end: 12px;
  height: 56px;
  box-shadow: none;
  border: 1px solid #1e293b;
}

.tool-bar-segment {
  background-color: #1e293b;
}
